.welcome .ant-card-head{
    background:#2185d0;
}
.welcome .ant-card-head .ant-card-head-title{
    color:#fff;
    font-size: 20pt;
}
.welcome .ant-card-body{
    color:#fff;
    background:#2185d0;
    margin-top: -33px;
    font-size: 12pt;
}
.welcome .ant-alert-with-description .ant-alert-message {
    font-size: 23px;
    color: rgba(0, 0, 0, 0.85);
    display: block;
    margin-bottom: 4px;
}

.welcome .ui.list .list>.item a.header, .ui.list>.item a.header{
    color:#ffffff!important;
}
.welcome .ui.list .list>.item a.header, .ui.list>.item a.header:hover{
    color:#ffffff!important;
}
.welcome .ant-alert-success {
    border: 1px solid #93ef4c;
    background-color: #b7eb8f;
}