.welcome .ant-card-head{
    background:rgb(64, 183, 255);
}
.welcome .ant-card-head .ant-card-head-title{
    color:#fff;
    font-size: 20pt;
}
.welcome .ant-card-body{
    color:#fff;
    background:rgb(64, 183, 255);
    margin-top: -33px;
    font-size: 12pt;
}
.welcome .ant-alert-with-description .ant-alert-message {
    font-size: 23px;
    color: rgb(255, 255, 255);
    display: block;
    margin-bottom: 4px;
}

.welcome .ui.list .list>.item a.header, .ui.list>.item a.header{
    color:#ffffff!important;
}
.welcome .ui.list .list>.item a.header, .ui.list>.item a.header:hover{
    color:#ffffff!important;
}
.welcome .ant-alert-success {
    border: 1px solid #f5aa00;
    background-color: rgb(245, 150, 0);
}

.ant-notification-notice{
    background-color: #f7f7f7;
}